@font-face {
  font-family: "Kalameh";
  src: url(../src/fonts/Kalameh-Regular.woff2);
}

@font-face {
  font-family: "Vazirmatn";
  src: url(../src/fonts/Vazirmatn-Regular.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Vazirmatn;
}

body {
  width: 1200px;
  margin: auto;
}
